.tag-list {
	padding: 1em;
	margin: 1em;
	display: flex;
	gap: 1em;
	align-items: baseline;
	flex-wrap: wrap;
	font-family: sans-serif;
}

.tag-entry {
	display: inline-block;
	border-radius: 0.5em;
	border: 1px solid #ccc;
	background: #ccc;
	white-space: nowrap;
}

.tag-entry:focus-within {
	outline: 1px solid lightskyblue;
	border: 1px solid lightskyblue;
	background: lightskyblue;
}

input.tag-edit {
	border: none !important;
	outline: none !important;
	border-radius: 0.5em 0 0 0.5em;
	padding-left: 0.5em;
}

button.tag-remove {
	border: none !important;
	outline: none !important;
	background: none !important;
	cursor: pointer;
	color: white;
	width: 2em;
	font-weight: bold;
	border-radius: 0 0.5em 0.5em 0;
}

.tag-submit {
	width: calc(100% - 2em);
	border: 1px solid white !important;
	outline: 3px solid #45ea45 !important;
	background: #45ea45;
	border-radius: 0.5em;
	padding: 0.75em;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: large;
	cursor: pointer;
	margin: 1em;
}
